.header {
  background-color: rgba(246, 246, 246, 0.785);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header-box {
  padding-top: 0%; /*haaaaaaaaaa???????????????????????????????*/
}

/* Correct the selector for .top section */
.top {
  background: url("my-portforio-photo/top.jpeg") center/ cover no-repeat;
  /*background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  height: 300px;
  color: white;
  padding-top: 100px;
}

.name {
  margin-left: 200px;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
}

.navi-container {
  display: flex;
  justify-content: center;
}

.item {
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

li {
  list-style-type: none;
}

.navi-container a {
  color: white;
  border: thin;
}

.item:hover {
  background-color: rgb(5, 5, 5);
}

.content {
  margin: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.area {
  text-align: center;
}
h3 {
  border-bottom: 0.1rem /*remも単位*/ solid #333;
  margin: 20px 300px;
}

.hobby-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.area {
  margin-left: 100px;
}

footer {
  background-color: dimgrey;
}

/* Wrap footer content in an <ul> element */
footer ul {
  padding: 0;
  margin: 0;
}

footer li {
  color: white;
  font-size: 12px; /* 適切なフォントサイズを指定します */
}
